:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--preto);
    color: white;
}

header {
    max-width: 100vw;
    height: 8.5vh;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0rem 3rem;
}

header .sub-nav a{
    color: white;
    padding: 1rem .5rem;
}

.logo h1{
    color: var(--vermelho);
    font-size: 2rem;
    padding: 0rem 1rem;
} 

.navbar li{
    display: inline-block;
    padding: 0rem .5rem;
}

.navbar li a {
    color: white;
}

.navbar li a:hover {
    color: gray;
}

/*DESTAQUE*/
.destaque {
    height: 70vh;
    font-size: 1.3rem;
    background: linear-gradient( rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(../img/capa-house.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.destaque .container {
    width: 60%;
    margin-left: 4rem;
}

.destaque .titulo {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    cursor: pointer;
}

.botao .fa-play, .fa-info-circle {
    font-size: 1rem;
    margin-right: 15px;
}

.botao:hover {
    background-color: white;
    color: black;
    transition: .4s ease all;
}

.carrosel h2 {
    padding: 0.3rem 1rem;
}

.item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

footer {
    padding: 20px;
    text-align: center;
    color: gray;
    margin: 10px;
  }






@media screen and (max-width:700px){
    header{
    display: flex;
    flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

}
